*.la
*.lo
Makefile
.libs
stamp-*
*.log
*.o
*.pc
config.status
debian/files
debian/glusterfs-client.substvars
debian/glusterfs-client/
debian/glusterfs-common/
debian/glusterfs-dbg/
debian/glusterfs-server/
debian/tmp/
debhelper
*.substvars
*.debhelper
extras/ocf/glusterd
extras/ocf/volume
glusterfsd/src/glusterfsd
libglusterfs/src/graph.lex.c
libglusterfs/src/y.tab.c
libglusterfs/src/y.tab.h
argp-standalone/config.h
argp-standalone/libargp.a
cli/src/gluster
config.h
libtool
xlators/features/marker/utils/src/gsyncd
xlators/mount/fuse/utils/mount.glusterfs
xlators/mount/fuse/utils/mount_glusterfs

